
@model AgeaProject.Areas.Admin.ViewModels.Products.IndexViewModel
<div class="row">
    <div class="col-12">
        <h3>Products</h3>
    </div>
</div>
<form asp-action="Index" asp-controller="Products" asp-area="Admin" method='get'>
    <div class="row">
    <div class="col-3"><a asp-action="Create" asp-controller="Products" asp-area="Admin" class="btn btn-primary">Add Product</a></div>
            <div class="col-3">
            <div class="form-group">
                <input name="searchKey" placeholder="Search" class="form-control" />
            </div>
        </div>
        <div class="col-3"><button type="submit" class="btn btn-primary">Search</button></div>
</div>
</form>
<div class="row justify-content-center mt-3">
    <div class="col-12">
        <table id="examples" class="table table-bordered text-center">
            <thead style="background-color: #e74a3b;color:white;">
                <tr class="text-center">
                    <th scope="col">Category</th>
                    <th scope="col">Product</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data is object)
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@item.Category.Name</td>
                            <td>@item.Name</td>
                            <td>@item.SKU</td>
                            <td>
                                <a asp-action="Remove" asp-controller="Products" asp-area="Admin" asp-route-id="@item.Id">Remove</a>
                                |
                                <a asp-action="Update" asp-controller="Products" asp-area="Admin" asp-route-id="@item.Id">Update</a>
                                |
                                <a asp-action="Pictures" asp-controller="Products" asp-area="Admin" asp-route-id="@item.Id">Pictures</a>
                                |
                                <a asp-action="AddPicture" asp-controller="Products" asp-area="Admin" asp-route-id="@item.Id">Add Pictures</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(Model.Pagination.Page == 0 ? "disabled": "")">
                    <a class="page-link" asp-route-searchKey="@Context.Request.Query["searchKey"]" asp-route-page=0 tabindex="-1">First Page</a>
                </li>
                @for (int i = Model.Pagination.StartPage; i <= Model.Pagination.EndPage; i++)
                {
                    <li class="page-item @(Model.Pagination.Page == i ? "active": "")">
                        <a class="page-link" asp-route-searchKey="@Context.Request.Query["searchKey"]" asp-action="Index" asp-controller="Products" asp-area="Admin" asp-route-page=@i>@(i + 1)<span class="sr-only">(current)</span></a>
                    </li>
                }
                <li class="page-item  @(Model.Pagination.Page == Model.Pagination.PageCount - 1 ? "disabled": "")">
                    <a class="page-link" asp-route-searchKey="@Context.Request.Query["searchKey"]" asp-action="Index" asp-controller="Products" asp-area="Admin" asp-route-page=@(Model.Pagination.PageCount-1)>Last Page</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
@section Scripts{
    @if (TempData["Success-Product"] is object)
    {
        <input type="hidden" id="Success-Product" value="@TempData["Success-Product"]" />
        <script>
            Swal.fire(
                'Success !',
                $('#Success-Product').val(),
                'success'
            )
        </script>
    }

}