@model AgeaProject.Areas.Admin.ViewModels.IndexViewModel
<div class="row">
    <div class="col-12">
        <h3>Categories</h3>
    </div>
</div>
<form asp-action="Index" asp-controller="Categories" asp-area="Admin" method="get">
    <div class="row">
        <div class="col-3"><a asp-action="Create" asp-controller="Categories" asp-area="Admin" class="btn btn-primary">Add Category</a></div>
        <div class="col-3">
            <div class="form-group">
                <input name="searchKey" placeholder="Search" class="form-control" />
            </div>
        </div>
        <div class="col-3"><button type="submit" class="btn btn-primary">Search</button></div>

    </div>
</form>
<div class="row justify-content-center mt-3">
    <div class="col-12">
        <table id="example" class="table table-bordered text-center">
            <thead style="background-color: #e74a3b;color:white;">
                <tr class="text-center">
                    <th scope="col">Category</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data is object)
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td><img width="60" height="60" src="~/uploads/@item.Src" /></td>
                            <td>
                                <a asp-action="Remove" asp-controller="Categories" asp-area="Admin" asp-route-id="@item.Id">Remove</a>
                                |
                                <a asp-action="Update" asp-controller="Categories" asp-area="Admin" asp-route-id="@item.Id">Update</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(Model.Pagination.Page == 0 ? "disabled": "")">
                    <a class="page-link" asp-route-page=0 asp-route-searchKey="@Context.Request.Query["searchKey"]" tabindex="-1">First Page</a>
                </li>
                @for (int i = Model.Pagination.StartPage; i <= Model.Pagination.EndPage; i++)
                {
                    <li class="page-item @(Model.Pagination.Page == i ? "active": "")">
                        <a class="page-link" asp-action="Index" asp-controller="Categories" asp-route-searchKey="@Context.Request.Query["searchKey"]" asp-area="Admin" asp-route-page=@i>@(i + 1)<span class="sr-only">(current)</span></a>
                    </li>
                }
                <li class="page-item  @(Model.Pagination.Page == Model.Pagination.PageCount - 1 ? "disabled": "")">
                    <a class="page-link" asp-action="Index" asp-controller="Categories" asp-route-searchKey="@Context.Request.Query["searchKey"]" asp-area="Admin" asp-route-page=@(Model.Pagination.PageCount-1)>Last Page</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
@section Scripts{
    @if (TempData["Success-Category"] is object)
    {
<input type="hidden" id="Success-Category" value="@TempData["Success-Category"]" />
<script>
    Swal.fire(
        'Success !',
        $('#Success-Category').val(),
        'success'
    )
</script>
<script>
    var table = $('#example').DataTable();
    // #myInput is a <input type="text"> element
    $('#myInput').on( 'keyup', function () {
        table.search( this.value ).draw();
    } );
</script>
    }

}