@model List<AboutUs>
<div class="row">
    <div class="col-12">
        <h3>About Us</h3>
    </div>
</div>
<div class="row">
    <div class="col-3"><a asp-action="Create" asp-controller="AboutUs" asp-area="Admin" class="btn btn-primary">Add About Us</a></div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-12">
        <table class="table table-bordered text-center">
            <thead style="background-color: #e74a3b;color:white;">
                <tr class="text-center">
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Text</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model is object)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Title</td>
                            <td style="width: 650px;">@Html.Raw(item.Text)</td>
                            <td><img width="60" height="60" src="~/uploads/@item.Image" /></td>
                            <td style="width: 149px;">
                                <a asp-action="Remove" asp-controller="AboutUs" asp-area="Admin" asp-route-id="@item.Id">Remove</a>
                                |
                                <a asp-action="Update" asp-controller="AboutUs" asp-area="Admin" asp-route-id="@item.Id">Update</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    @if (TempData["Success-about"] is object)
    {
        <input type="hidden" id="Success-Category" value="@TempData["Success-Category"]" />
        <script>
            Swal.fire(
                'Success !',
                $('#Success-Category').val(),
                'success'
            )
        </script>
    }

}