@model BlogViewModel
@{
    ViewData["Title"] = "Blog";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog List</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Main Blog Page Area -->
<div class="li-main-blog-page pt-60 pb-55">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Main Content Area -->
            <div class="col-lg-12">
                <div class="row li-main-content">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-lg-12">
                            <div class="li-blog-single-item pb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-banner" style="height:326px">
                                            <a target="_blank" href="Blog/Single/@item.Id"><img style="object-fit:cover" class="img-full" src="~/uploads/@item.Image" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a href="Blog/Single/@item.Id">@item.Title</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> @item.CreatedDate.ToString("dd MMM yyyy")</a>
                                                </div>
                                                @if (item.Text.Length > 300)
                                                {
                                                    <p>
                                                        @Html.Raw(item.Text.Substring(0, 300)) ...
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        @Html.Raw(item.Text)
                                                    </p>
                                                }

                                                <a class="read-more" href="Blog/Single/@item.Id">Read More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Begin Li's Pagination Area -->
                    <div class="col-lg-12">
                        <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p>Showing @((Model.Pagination.Page * Model.Pagination.CountInPage) > 0 ? (Model.Pagination.Page * Model.Pagination.CountInPage):1)-@(Model.Pagination.CountInPage * (Model.Pagination.Page +1) > Model.Pagination.Count? Model.Pagination.Count: Model.Pagination.CountInPage) of @Model.Pagination.Count item(s)</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul class="pagination-box">
                                        <li>
                                            <a asp-action="Index" asp-controller="Blog" asp-route-page=0 class="Previous"><i class="fa fa-chevron-left"></i></a>
                                        </li>
                                        @for (int i = Model.Pagination.StartPage; i <= Model.Pagination.EndPage; i++)
                                        {
                                            <li class="@(Model.Pagination.Page == i ? "active": "")"><a asp-action="Index" asp-controller="Blog" asp-route-page=@i>@(i + 1)</a></li>
                                        }
                                        <li>
                                            <a asp-action="Index" asp-controller="Blog" asp-route-page=@(Model.Pagination.PageCount-1) class="Next"><i class="fa fa-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Li's Pagination End Here Area -->
                </div>
            </div>
            <!-- Li's Main Content Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Main Blog Page Area End Here -->
